*.pid
*.xml
*.csr
*.crt
*.key
www
home-assistant.log
home-assistant_v2.db
*.db-journal
lib
deps
tts
secrets.yaml
known_devices.yaml
entity_registry.yaml
*.conf
plex.conf
phue.conf
configurator.py
emulated_hue_ids.json
.*
*.old
/custom_components/**
!/.gitignore
*-shm
*-wal
*.png
